{% extends 'base.html' %}
{% block content %}

<h1>This is a city show page</h1>
{{ city.name }}

{% comment %} RENDER EVERY POST {% endcomment %}
{% for post in city.post_set.all %}

  <div class="card">
    <div class="card-content">

      {% comment %} SHOW POST MODAL TRIGGER {% endcomment %}
      <p class="card-title"><a class="modal-trigger" href="#post-modal{{post.id}}">{{ post.title }}</a> - <small>Posted by: <a href="{% url 'profile' post.user.id %}">{{post.user.username}}</a></small></p>
      <p>{{ post.body|truncatechars_html:200 }}</p>

      {% comment %} EDIT-POST-MODAL TRIGGER {% endcomment %}
      <button class="modal-trigger" href="#post-edit-modal{{post.id}}">Edit</button> 

      <form action="{% url 'post_delete' post.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Delete">
      </form>

    </div>
  </div>


{% comment %} POST SHOW - MODAL BODY {% endcomment %}
<div id="post-modal{{post.id}}" class="modal">
  <div class="modal-content">

    <div class="card">
      <div class="card-content">
        <p class="card-title">{{ post.title }} - <small>Posted by: {{post.user.username}}</small></p>
        <p>{{ post.body }}</p>
      </div>
    </div>

  </div>
</div>

  {% comment %} POST EDIT - MODAL BODY {% endcomment %}
<div id="post-edit-modal{{post.id}}" class="modal">
  <div class="modal-content">

    <div class="card">
      <div class="card-content">
        <h4>Edit Post</h4>
        <form action="{% url 'post_edit' post.id %}" method="POST">
          {% csrf_token %}
          <input type="text" value="{{ post.title }}" name="title" required>
          <input type="text" value="{{ post.body }}" name="body" required>
          <div class="modal-footer">
          <input type="submit" value="Update">
          </div>
        </form>
      </div>
    </div>

  </div>
</div>




{% endfor %}

 <form method="POST" action="{% url 'post_new' %}">
  {% csrf_token %}
  {{ post_form.as_p }}
  <input type="submit" class="btn" value="Add Post">
  <input hidden type="text" class="btn" value="{{ city.id }}" name="cityId">
</form> 

<script>
  const edit_modal = document.querySelectorAll('.modal');
  M.Modal.init(edit_modal);
</script>

{% endblock content %} 