{% extends 'base.html' %}
{% block content  %}

<h1 class="font align-center">About Wayfarer</h1>
<div class="row white-card">
    <div class="col s12 m4">
        <img class="about-portrait" src="https://user-images.githubusercontent.com/77288642/111946908-a8b51080-8a99-11eb-9515-2cf851c412ba.png" alt="wayfarer">
    </div>
    <div class="col s12 m8">
        Wayfarer is the third of four projects that students were asked to complete at General Assembly's SEIR course. The goal: Create an app for a (pretend) client where users can leaves reviews about the cities they've visited! For this project, Ryan and Richard were randomly assigned together to create the masterpiece you see before you!
    </div>
</div>
<h1 class="font align-center">The Creators</h1>


<div class="row white-card">
    <div class="col s12 m4">
        <img class="about-portrait" src="https://user-images.githubusercontent.com/77288642/111944940-f891d880-8a95-11eb-8e69-18915c4ed5b8.jpg" alt="ryan">
    </div>
    <div class="col s12 m8">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure sint velit minima quod blanditiis ut minus enim laudantium. Odit dolor magnam libero consectetur inventore, totam iure error architecto voluptatibus eligendi!
    </div>
</div>

<div class="row white-card">
    <div class="col s12 m4">
        <img class="about-portrait" src="https://user-images.githubusercontent.com/77288642/111944954-fcbdf600-8a95-11eb-8024-bbbc62a4a928.jpeg" alt="richard">
    </div>
    <div class="col s12 m8">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure sint velit minima quod blanditiis ut minus enim laudantium. Odit dolor magnam libero consectetur inventore, totam iure error architecto voluptatibus eligendi!
    </div>
</div>


{% endblock content  %}