{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% comment %} MATERIALIZE ICONS {% endcomment %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% comment %} MATERIALIZE CSS {% endcomment %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  {% comment %} STATIC CSS {% endcomment %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% comment %} MATERIALIZE JS {% endcomment %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>Wayfarer</title>
</head>
<body>

<nav>
  <div class="nav-wrapper">
      {% if user.is_authenticated %}
        <ul><li class="left username">{{user}}</li></ul>
      {% endif %}
    <ul class="right">
      {% if user.is_authenticated %}
        <li><a href="{% url 'profile' user.id %}">Profile</a></li>
        <li><a href="{% url 'logout' %}">Log Out</a></li>
      {% else %}
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        <li><a href="{% url 'login' %}">Log In</a></li>
      {% endif %}
    </ul>
    <ul class="right">
      <li>
        <!-- CITY SEARCH -->
        <input type="search" placeholder="search for a city" class="search">
        <!--CITY DROPDOWN ( CSS GRID)-->
        <div class="city-wrapper">
          {% for city in cities %}
            <a href="{% url 'city_show' city.id %}" style="order: -{{city.post_set.all.count}};" cityName="{{city.name}}" numPosts="{{city.post_set.all.count}}" class="city-option">{{city.name}}<small> (posts: {{city.post_set.all.count}})</small></a>
          {% endfor %}
          <a class="modal-trigger" href="#add-city-modal">+ Add A City</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- ADD CITY - MODAL BODY -->
  <div id="add-city-modal" class="modal">
    <div class="modal-content">
      <h4>Add A City</h4>
      <form action="{% url 'city_new' %}" method="POST">
        {% csrf_token %}
        {{city_form.as_p}}
        <div class="modal-footer">
          <input type="submit" value="Add City">
        </div>
      </form>
    </div>
  </div>

<div class="container">
  {% block content  %}
  {% endblock content %}
</div>

<script>
const searchEl = document.querySelector('.search')
const cityWrapperEl = document.querySelector('.city-wrapper')
const cityOptionEl = document.querySelectorAll('.city-wrapper .city-option')

{% comment %} document.addEventListener('keydown', (e) => {
  //if search bar is focused, and if up/down arrow is pressed, cycle through cities
  if (document.activeElement === searchEl) {
    if (e.key === 'ArrowUp') {
      console.log('you pressed arrow up');
    } else if (e.key === 'ArrowDown') {
      console.log('You pressed arrow down');
    }
  }
}) {% endcomment %}


searchEl.addEventListener('keydown', (e) => {
  if ("{{cities}}") {
    setTimeout(() => {
      //score elements in city dropdown based on search input
      const inputStr = searchEl.value.toLowerCase()
      if (inputStr.length !== 0) {
        let score = 0
        for (let cityEl of cityOptionEl) {
          const cityNameLower = cityEl.getAttribute('cityName').toLowerCase()
          //if input string is in city name, increase score
          if (cityNameLower.indexOf(inputStr) !== -1) {
            cityEl.style.order = `-${inputStr.length.toString()}`
            //highlight matching letters black
            cityEl.innerHTML = cityNameLower.replace(inputStr, `<span class="blackk">${inputStr}</span>`)
          } else {
            //reset score
            cityEl.style.order = "0"
            //remove highlight black text
            cityEl.innerHTML = cityNameLower
          }
        }
      } else {
        //if search is empty, order cities based on number of posts
        for (let cityEl of cityOptionEl) {
          cityEl.style.order = `-${cityEl.getAttribute('numposts')}`
        }
      }
    },20)
  }
})

//make city dropdown menu appear when search bar is focused, otherwise hide it
searchEl.addEventListener('focusin', () => {
  cityWrapperEl.style.display = 'grid'
})
searchEl.addEventListener('focusout', () => {
  setTimeout(() => {
    cityWrapperEl.style.display = 'none'
  }, 150)
})
</script>
</body>
</html>