{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% comment %} MATERIALIZE ICONS {% endcomment %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% comment %} MATERIALIZE CSS {% endcomment %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  {% comment %} STATIC CSS {% endcomment %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% comment %} MATERIALIZE JS {% endcomment %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>Wayfarer</title>
</head>
<body>

<nav>
  <div class="nav-wrapper">

    <ul>
      <li class="left username">{{user}}</li>
    </ul>

    <ul class="right">
      {% if user.is_authenticated %}
        <li><a href="{% url 'profile' user.id %}">Profile</a></li>
        <li><a href="{% url 'logout' %}">Log Out</a></li>
      {% else %}
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        <li><a href="{% url 'login' %}">Log In</a></li>
      {% endif %}
    </ul>

    <!-- CITY DROPDOWN TRIGGER -->
    <ul class="right"><a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Cities</a></ul>

  </div>
</nav>

  <!-- CITY DROPDOWN BODY -->
  <ul id='dropdown1' class='dropdown-content'>
    {% for city in cities %}
      <li><a href="{% url 'city_show' city.id %}">{{city.name}}</a></li>
    {% endfor %}
      <li class="divider" tabindex="-1"></li>
      <li><a href="#!">View All Cities</a></li>
      <li> <a class="modal-trigger" href="#add-city-modal">+ Add A City</a></li>
  </ul>

<!-- ADD CITY - MODAL BODY -->
  <div id="add-city-modal" class="modal">
    <div class="modal-content">
      <h4>Add A City</h4>
      <form action="{% url 'city_new' %}" method="POST">
        {% csrf_token %}
        {{city_form.as_p}}
        <div class="modal-footer">
          <input type="submit" value="Add City">
        </div>
      </form>
    </div>
  </div>

<div class="container">
  {% block content  %}
  {% endblock content %}
</div>

<script>
    const cityDropDown = document.querySelectorAll('.dropdown-trigger');
    M.Dropdown.init(cityDropDown);
</script>
</body>
</html>