{% extends 'base.html' %}
{% block content  %}

<h1>Wayfarer</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, facilis eaque! Qui officia vel corporis fugit quos et, laborum veniam expedita quae quibusdam dolor tenetur dolorem explicabo, nemo inventore reprehenderit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus iure ducimus, voluptas et ratione quaerat est nulla autem consequuntur commodi blanditiis esse magni necessitatibus sunt ex, molestias aliquid unde minus.</p>
{% endblock content  %}