.username {
    margin-left: 1em;
}
a:hover {
    text-decoration: underline;
}
body {
    background-color: bisque;
}

/* CITY SHOW PAGE */
.background-image {
    color: white;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.city-name {
    color: rgba(255,255,255,0.75);
    font-size: 100px;
    font-family: 'della respira', serif;
    text-align: center;
    white-space: nowrap;
    background-color: rgba(0,0,0,0.5);
    padding: 70px 0 70px 0;
}
.btn-add-post-to-city {
    margin: 1em 0 0.7em 0;
    width: 100%;
}

/* SEARCH BAR (base.html) */
.search {
    background-color: white !important;
    border-radius: 10px !important;
    padding-left: 5px !important;
    margin-right: 10px !important;
    height: 35px !important;
    width: 200px !important;
}
.search:focus {
    background-color: white !important;
    border: 2px solid rgb(107, 213, 206) !important;
}

.blackk {
    color: black !important;
}
.city-wrapper {
    display: none;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
    position: absolute;
    z-index: 1;
    max-height: 300px;
    width: 200px;
    white-space: nowrap;
    overflow: scroll;
}
.city-wrapper > a {
    color: gray;
    text-transform: lowercase;
    background: #eee;
    font-size: 20px;
    display: inline;
}
.city-wrapper > a:hover {
    background: #ccc;
}



/* PROFILE PAGE */
.profile-card-flex {
    display: flex;
    flex-direction: row;
}
.profile-picture {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
}
.profile-info {
    margin-left: 2rem;
}
.btn-browse-picture {
    width: 20px;
    height: 30px;
    padding-left: 0;
    padding-right: 23px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.edit-btn-profile {
    position: absolute;
    top: 10px;
    right: 10px;
}


/* COLORS */
.gray {
    color: #aaa;
}
.dark-gray {
    color: #555;
}


/* GENERAL */
.relative {
    position: relative;
}
.hide {
    display: none;
}
.hover-to-see {
    opacity: 0.5;
}
.hover-to-see:hover {
    opacity: 1;
}



/* SPECIFIC */
.tiny-profile-picture {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 5px;
    vertical-align: middle;
}
.card-reply { 
    margin-left: 50px !important; 
}
.your-post {
    border: 2px solid lime;
}
.btn-edit-post {
    position: absolute;
    top: 10px;
    right: 10px;
}
.btn-del-post {
    position: absolute;
    top: 50px;
    right: 10px;
}