.username {
    margin-left: 1em;
}

.background-image {
    color: white;
    height: 650px;
    padding: 100px 0 0 0;
    background-repeat:no-repeat;
    background-size: cover;
}

/* SEARCH BAR (base.html) */
.search {
    background-color: rgb(225, 252, 252) !important;
    border-radius: 10px !important;
    padding-left: 5px !important;
    margin-right: 10px !important;
    height: 35px !important;
    width: 200px !important;
}
.search:focus {
    background-color: white !important;
    border: 2px solid rgb(107, 213, 206) !important;
}

.blackk {
    color: black !important;
}
.city-wrapper {
    display: none;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
    position: absolute;
    z-index: 1;
    max-height: 300px;
    overflow: scroll;
}
.city-wrapper > a {
    color: gray;
    text-transform: lowercase;
    background: #eee;
    font-size: 20px;
    display: inline;
}
.city-wrapper > a:hover {
    background: #ccc;
}



/* PROFILE PAGE */
.profile-card-flex {
    display: flex;
    flex-direction: row;
}
.profile-picture {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
}
.profile-info {
    margin-left: 2rem;
}
.upload-picture-btn {
    width: 20px;
    height: 30px;
    padding-left: 5px;
    padding-right: 22px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.edit-btn-profile {
    position: absolute;
    top: 10px;
    right: 10px;
}


/* general */
.relative {
    position: relative;
}
.hide {
    display: none;
}
