<h3>Comments</h3>
    {% for comment in post.comments.all %}
      <div class="card" id="comment-{{ comment.id}}">
        <div class="card-content" id="comment-{{ comment.id }}">
          <p>{{comment.content}}</p>
          <small>{{comment.user}}</small>  
          <small>{{comment.posted}}</small>
          {% comment %} ADD REPLY MODAL TRIGGER FROM COMMENTS {% endcomment %}
          <button class="modal-trigger reply-modal-trigger" data-comment-id="{{ comment.id }}" href="#reply-modal">Add Reply</button>
        </div>
      </div>
    {% for reply in replies %}
      <div class="card">
        <div class="card-content">
          <p>{{reply.content}}</p>
          <small>{{reply.user}}</small>  
          <small>{{reply.posted}}</small>
          {% comment %} ADD REPLY MODAL TRIGGER FROM REPLY {% endcomment %}
          <button class="modal-trigger reply-modal-trigger" data-comment-id="{{ comment.id }}" data-target="#comment-{{comment.id}} .reply-modal">Add Reply</button>
        </div>
      </div>
  {% endfor %}
{% endfor %}   